:root {
  /* --primary: #00171f;
  --secondary: #ffffff;
  --secondary-button: #007ea7;
  --primary-button: #00a8e8;
  --ascent: #007ea7; */

  /* --primary: #ffffff;
  --secondary: #00171f;
  --secondary-button: #00a8e8;
  --primary-button: #007ea7;
  --ascent: #00a8e8; */

  --black: #000000;
  --black-light: #13171a;
  --bg: #dfecf1;
  --blue: #d0e1e9;
  --ascent: #00a8e8;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg);
  max-width: 100vw;
  overflow-x: hidden;
  overflow: overlay;
}

body {
  margin: 0;
  color: var(--primary);
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  color-scheme: light;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 4px;
}

button {
  font-size: 1rem;
  color: var(--bg);
  width: 100%;
  padding: 0.7rem 2rem;
  border-radius: 12px;
  background-color: var(--black);
  border: none;
  cursor: pointer;
}
