.testezz {
  --black: #000000;
  --black-light: #13171a;
  --bg: #dfecf1;
  --blue: #d0e1e9;
  --ascent: #00a8e8;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.nav {
  width: 100vw;
  z-index: 2;
  padding: 1rem;
}

.nav-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--black);
  color: var();
  border-radius: 12px;
}

.nav-title a,
.nav-title button {
  margin: -0.5rem 0 -0.5rem 0.5rem !important;
  width: auto !important;
  font-size: 1rem;
  color: var(--black-light);
  padding: 0.5rem 2rem;
  border-radius: 12px;
  background-color: var(--bg);
  cursor: pointer;
}

.delete {
  margin: -0.5rem 0 -0.5rem 0.5rem !important;
  width: auto !important;
  font-size: 1rem;
  color: var(--blue);
  padding: 0.5rem 2rem;
  border-radius: 12px;
  background-color: var(--black);
  cursor: pointer;
}

.logo {
  font-size: 1rem;
  padding: 0.5rem !important;
  background-color: transparent !important;
  border: none !important;
  color: var(--bg) !important;
}

.content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-width: 100vw;
  min-height: 88.9vh; /* test */
  /* background-color: var(--blue); */
  /* border: 1px solid rgba(108, 108, 108, 0.3); */
  border-radius: 12px 12px 0 0;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  padding: 0 1rem;
  border-radius: 12px;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 1rem 0;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  /* background-color: rgba(255, 255, 255, 1); */

  /* color: black; */
  /* border: 1px solid var(--black-light); */
  background-color: var(--blue);
  border-radius: 12px;
}

.menu-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

.menu-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.menu-item-counter {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.menu-item-counter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--black);
  color: var(--bg);
  cursor: pointer;
}

.menu-item-title {
  font-size: 1.2rem;
}

.menu-item-description {
  font-size: 1rem;
}

.menu-item-counter-value {
  font-size: 1rem;
  font-family: inherit;
  /* width: 40px; */
  background: none;
  border: none;
  color: var(--black-light);
}

.menu-item-counter-value:focus {
  outline-color: var(--black-light);
}

.total {
  gap: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.total-left {
  display: flex;
  gap: 1rem;
}

.total-title {
  font-size: 1.3rem;
}
.total-price {
  font-size: 1.3rem;
}

@media print {
  @page {
    margin-header: 0mm;
    margin-footer: 0mm;
  }
  .body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    -webkit-print-color-adjust: exact;
  }
  .body {
    visibility: hidden;
  }
  .print {
    print-color-adjust: exact;
    font-size: calc(100% - 0.1rem);
    width: 100vw;
    color: black;
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
  .invoice {
    border: 1px solid black;
    padding: 1rem;
  }
  .disclaimer {
    margin-top: 1rem;
  }
  /* .divider {
    background-color: black;
  }
  .hdivider {
    background-color: black;
  } */
}

.invoice-item {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  border: 1px solid rgba(108, 108, 108, 0.3);

  border-radius: 12px;
}

.invoice-title {
  display: flex;
  /* justify-content: space-evenly; */
  width: 100%;
}

.invoice-title-text,
.invoice-value {
  width: 20%;
  text-align: center;
}

.invoice {
  display: flex;
  flex-wrap: wrap;
}

.invoice .left {
  width: 50%;
}

.invoice .right {
  width: 50%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(108, 108, 108, 0.3);
  margin: 1rem 0;
}

.hdivider {
  width: 1px;
  height: 100%;
  background-color: rgba(108, 108, 108, 0.3);
  margin: 1rem 0;
}

.invoice-company-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.invoice-item-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.invoice-ammountinwords {
  width: 100%;
}

.invoice-ammountinwords-value {
  text-transform: uppercase;
}

.modal {
  z-index: 4;
  background-color: var(--blue);

  border-radius: 12px;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30vw;
  transform: translate(-50%, -50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* .App {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;

  margin: 0;
} */

.forms {
  align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* flex-direction: column; */
  /* margin: 0; */
  height: auto;
  width: 100vw;
  /* padding: 1rem; */
  align-items: center;
  justify-content: center;
  /* align-items: flex-start; */
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 48%;
}

.form-item > input,
.form-item > select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 12px;
  outline: 1px solid #00000056;
  border: none;
  background-color: var(--blue);
  font-size: 1rem;
}

.form-item > label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.modal-item {
  width: 100% !important;
}

.form-item > input {
  font-family: inherit;
}

.form-item > textarea {
  font-size: 1rem;
  background-color: var(--blue);
  outline: 1px solid #00000056;
  border: none;
  resize: none;
  font-family: inherit;
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 12px;
}

.button-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 1rem;

  height: auto;
  width: 100vw;

  align-items: center;
  justify-content: center;
}

.form > button {
  width: 48%;
}

.invoice-tax {
  width: 100%;
}

.history {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.history-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 2rem;
  background-color: var(--blue);
  /* border: 1px solid rgba(108, 108, 108, 0.3); */
  border-radius: 12px;
}

.item-invoiceno {
  width: 100%;
  /* width: fit-content; */
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: 1px solid rgba(108, 108, 108, 0.3);
}

.item-data {
  width: 48%;
}

.button a {
  font-size: 1rem;
  color: white;
  width: 100%;
  padding: 0.7rem 2rem;
  border-radius: 12px;
  background-color: var(--black);

  cursor: pointer;
}

.invoice-declaration {
  width: 100%;
  display: flex;
}
.invoice-declaration-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.invoice-declaration-item:nth-child(2) {
  text-align: right;
}

.invoice-declaration-signature {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-button-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.nav-button-container button {
  width: 100%;
}
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-item-title-id {
  font-weight: 600;
  border: 1px solid rgba(108, 108, 108, 0.3);
  border-radius: 12px;
  padding: 0.2rem 0.5rem;
  background-color: var(--bg);
}

.disclaimer {
  width: 100%;
  text-align: center;
}
.invoice-bank {
  width: 100%;
}

.total-left a {
  font-size: 1rem;
  color: var(--bg);
  width: 100%;
  padding: 0.7rem 2rem;
  border-radius: 12px;
  background-color: var(--black);
  border: none;
  cursor: pointer;
}
