.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.nav {
  width: 100vw;
  z-index: 2;
  padding: 1rem;
}

.nav-title {
  padding: 1rem;
  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid rgba(108, 108, 108, 0.3);
  border-radius: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid rgba(108, 108, 108, 0.3);
  border-radius: 12px;
}
